
body{
    
    background-color: white
}
#parent{
    width: 85%;
    height: auto;
    
    margin: auto;

   
    display: flex;

}
#parent>div{
    width: 30%;
    text-align: center;
    
    
}
#parent1{
    
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#parent1>div{
 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 15px;
}
.img{
    width: 100%;
    height: 250px;
     border-radius: 15px 15px 0px 0px;
}

.logo{
    height: 48px;
width: 140px;
display: block;
margin: auto;  


}
h2,p{
    text-align: center;
    font-weight: 500;
    
    display: block;
    margin-bottom: 0px ;
    
}
h1{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (min-width:760px ) and (max-width:1011px){
    #parent{
       
        width: 100%;
       

    }
    #parent>.div img{
   width: 100%;
   padding: 5%;
   box-sizing: border-box;
    }
    
    #parent1{
        
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(10,auto);
        box-sizing: border-box;
    }
} 

@media  (max-width:761px){
     #parent{
        
width: 100%;
display: block;
flex-wrap: wrap;


} 

#parent>.div img{
    width: 100%;
    padding:10% ;
    padding: 0px 10vh;
       
        
    }
    
#parent1{
  width: 100%;
  
  padding: 10%;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(10,auto);
  box-sizing: border-box;
  

}
}